{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 mt-5 mb-5 p-5 bg-dark text-light rounded-2">
                <h1 class="text-center mb-4">Registration</h1>
                {{ form_start(registrationForm) }} 
            {{ form_rest(registrationForm) }} 
            <button type="submit" class="btn btn-primary" href="{{ path('index') }}">Register</button>
            {{ form_end(registrationForm) }} 
                    
               
            </div>
        </div>
    </div>
{% endblock %}
