{% extends 'base.html.twig' %}

{% block body %}
<!DOCTYPE html>
<html>
<head>
    <title>О сервисе</title>
</head>
<body>
    <h1>О сервисе сокращения ссылок</h1>
    
    <p>Cервис предоставляет возможность сокращать длинные ссылки и создавать короткие URL-адреса для удобства использования.</p>
    
    <p>Когда пользователь вводит длинную ссылку, ему возвращается сгенерированый уникальный короткий URL-адрес, который перенаправляет на оригинальную длинную ссылку.</p>
    
    <h5>Преимущества сервиса:</h5>
    <ul>
        <li>Удобство использования и быстрая генерация коротких ссылок.</li>
        <li>Сокращение длинных URL-адресов, что упрощает их использование и передачу.</li>
        <li>Статистика переходов по сокращенным ссылкам для отслеживания активности.</li>
    </ul>
    
    <p>Мы стремимся предоставить надежный и удобный сервис для сокращения ссылок.</p>
    
    <p>Свяжитесь с нами, если у вас есть вопросы или предложения.</p>
    <h5>Контактная информация: <a href="maksanikienko30@gmail.com">maksanikienko30@gmail.com</a></h5>
</body>
</html>

{% endblock %}