{% extends 'base.html.twig' %}
{% block body %}
<!DOCTYPE html>
<html>
<head>
    <title>Контактная информация</title>
</head>

    <h1>Контактная информация</h1>
    <ul>
        <li>Имя: Максим</li>
        <li>Email: maksanikienko30@gmail.com</li>
        <li>Телефон: <a href="tel:+(373)79300914">+(373) 79300914</a> </li>
    </ul>
</html>
{% endblock %}