{% extends 'base.html.twig' %}

{% block body %}
<div id="link-list"></div>

<script>
$(document).ready(function() {
    // Запрос к API для получения JSON данных
    $.ajax({
      url: 'http://127.0.0.1:8000/url-user', // Замените на ваш URL API
      method: 'GET',
      dataType: 'json',
      success: function(response) {
        var links = response.links; // Получаем массив пользователей

        // Создаем HTML элементы для каждого пользователя
        var linkListHTML = '';
        for (var i = 0; i < links.length; i++) {
          var link = links[i];
          linkListHTML += '<div>';
          linkListHTML += '<h3>longUrl: ' + link.longUrl + '</h3>';
          linkListHTML += '<p>clickCount: ' + link.clickCount + '</p>';
          linkListHTML += '</div>';
        }

        // Вставляем HTML на страницу
        $('#link-list').html(linkListHTML);
      },
      error: function() {
        // Обработка ошибок
        alert('Ошибка при получении данных');
      }
    });
  });
</script>




  {#  <h1>Ссылки пользователя</h1>

    
        <ul>

        {% for url in userUrl %}
           <li><a href="{{ path('app_redirect', {'shortCode': url.shortCode}) }}" class="text-dark"> {{ url.longUrl }}</a></li>
          <p>Количество кликов: {{ url.getClickCount() }}</p>
        {% endfor %}
           
        </ul>
   #}
{% endblock %}
