{% extends 'base.html.twig' %}
{% block body %}
<h1 class="text-center">Сокращение ссылок</h1>
<form action="/shorten" method="POST" id="shorten">
    <div class="mb-3">
        <input type="text" name="longUrl" class="form-control" placeholder="Введите URL для сокращения" required>
    </div>
    <button type="submit" class="btn btn-primary">Сократить</button>
</form>

    {#вывод для текущего пользователя#}
        {% if is_granted('ROLE_USER') %}
            
                <div id="link-list"></div>
           
        {% endif %}

    {#если текущий пользователь admin#}
        {% if is_granted('ROLE_ADMIN')  %}
            
                <div id="admin-link-list"></div>
          
        {% endif %}

    {% endblock %}
