{% extends 'base.html.twig' %}
{% block body %}
    <div class="row justify-content-center text-center mb-5">
        <div class="col-md-6">
            <h1>Link shortener</h1>
            <form action="{{ path('app_shorten') }}" method="POST" id="shorten">
                <div class="mb-3">
                    <input type="text" name="longUrl" class="form-control" placeholder="URL to shorten" required>
                </div>
                <button type="submit" class="btn btn-primary">Shorten</button>
            </form>
        </div>
    </div>
    <table class="table" id="link-list">
        <thead>
            <tr>
                <th>Link</th>
                <th>Owner</th>
                <th>Click counter</th>
            </tr>
        </thead>
    </table>
{% endblock %}
