<!-- footer.html.twig -->

<!-- Footer -->
<footer class=" text-light text-center py-4">
    <div class="container">
        <p>&copy; {{ "now"|date("Y") }} My Symfony Project. All rights reserved.</p>
    </div>
</footer>
